@font-face {
   font-family: 'SweiSpringCJKtc-Light';
   font-display: swap;
   src: url('file:///Users/sharonchoi/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-03-17_101856/fonts/SweiSpringCJKtc-Light/font.ttf');
}
