@font-face {
   font-family: 'Zolina-Regular';
   font-display: swap;
   src: url('file:///Users/sharonchoi/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-03-17_101856/fonts/Zolina-Regular/font.ttf');
}
